{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 mt-5">
        <div class="card card-body">
            <h2 class="text-center mb-4" style="font-family: 'Orbitron', sans-serif;">ACCESO AL NÚCLEO</h2>
            
            {% if error %}
            <div class="alert alert-danger p-2" style="font-size: 0.8rem; background: rgba(255,0,0,0.1); border: 1px solid red;">
                [ERROR]: {{ error }}
            </div>
            {% endif %}

            <form action="/signin/" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">USUARIO:</label>
                    <input type="text" name="username" class="form-control bg-black text-info border-info" id="username">
                </div>
                <div class="mb-3">
                    <label for="password">CONTRASEÑA:</label>
                    <input type="password" name="password" class="form-control bg-black text-info border-info" id="password">
                </div>
                <button class="nav-module w-100 py-2">
                    EJECUTAR LOGIN
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}